# Python virtual environment directory
venv/*

# Airflow data directory
airflow-data/logs/*

# Configuration files directory
config/*

# MinIO data directory
minio_data/*

# Jupyter notebooks directory
notebooks/*
dags/.ipynb_checkpoints

myapp.log

irly-adel.ipynb
**/__pycache__/**