#saved models
*.joblib


# model directories
all_results/*
fast_api/all_results/*
amazon_review_outliers
doc
# models directory
s*
all_results.tar.gz
# Configuration files directory
config/*
__pycache__
# MinIO data directory
minio_data/*

# Jupyter notebooks directory
*.ipynb_checkpoints

myapp.log
gui.py
guiv2.py

